* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*height: 100vh;*/
  /*width: 100vw;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  background-image: url("../assets/hicet_bg.png");
  background-repeat: repeat;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-part {
}

.banner {
  width: 100%;
  height: auto;
}

.top-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.certificate {
  height: 95%;
  width: 95%;
  border: 4px solid #6d302a;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hicet-logo {
  width: 60px;
  height: auto;
  margin-left: -50px;
}

.qr-img {
  width: auto;
  height: 60px;
}

table {
  border-collapse: collapse;
}

td,
tr,
th {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  border: 2px solid brown;
}

.table-top {
  margin-bottom: 10px;
}

.table-bot {
  position: relative;
  /*width: 100%;*/
}

.bot-row > td {
  font-weight: 500;
  font-size: 1rem;
}

input {
  width: 100%;
  padding-left: 40%;
}

.table-bot-bot {
  width: 100%;
  height: 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 918px) {
  .main-container {
    background-image: url("../assets/hicet_bg.png");
    background-repeat: repeat;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .main-container {
    background-image: url("../assets/hicet_bg.png");
    background-repeat: repeat;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 360px) {
  .main-container {
    background-image: url("../assets/hicet_bg.png");
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
